:root {
  --sans:   "Bebas Neue", serif;
  --heading:  "Bebas Neue", serif;
  --mono: ui-monospace, Consolas, monospace;
  --heavy-family: "Fraunces", serif; 
  --classy-family: "Cormorant Garamond", serif;
  --classy-family-cursive: "Cormorant Garamond", cursive;
  --elegant-unique-italic: "Pinyon Script", cursive; 
  letter-spacing: 0.18px;
}
